<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEPI Cine Club</title>
    <link rel="stylesheet" href="{% static '\css\catalogofilmes.css' %}">
    <link rel="icon" href="{% static '\img\favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <div class="container">
        <header>
            <h2 class="logo">FEPI Cine Club</h2>
            <div class="toggle">
                <a href="{% url 'home' %}">Inicio</a>
                <a href="{% url 'filmes' %}">Filmes</a>
                <a href="{% url 'forum' %}">Forum</a>
                <a href="{% url 'contato' %}">Contato</a>
            </div>
        </header>
        <div class="movie-grid">
            <div class="movie-card">
                <img src="{% static '\img\Deadpool_&_Wolverine_cartaz.jpg' %}" alt="Deadpool & Wolverine"
                    class="movie-poster">
                <div class="movie-info">
                    <h2 class="movie-title">Deadpool & Wolverine</h2>
                    <p class="movie-price">$55</p>
                    <button class="add-to-cart">Saiba mais</button>
                </div>
            </div>
            <div class="movie-card">
                <img src="{% static '\img\Underworld_Blood_Wars_cartaz.jpg' %}" alt="Underworld: Blood Wars"
                    class="movie-poster">
                <div class="movie-info">
                    <h2 class="movie-title">Underworld: Blood Wars</h2>
                    <button class="add-to-cart">Saiba mais</button>
                </div>
            </div>
            <div class="movie-card">
                <img src="{% static '\img\Avengers_Endgame_cartaz.jpg' %}" alt="Vingadores: Ultimato" class="movie-poster">
                <div class="movie-info">
                    <h2 class="movie-title">Vingadores: Ultimato</h2>
                    <button class="add-to-cart">Saiba mais</button>
                </div>
            </div>
            <div class="movie-card">
                <img src="{% static '\img\Black_Widow_cartaz.jpg' %}" alt="Viúva Negra" class="movie-poster">
                <div class="movie-info">
                    <h2 class="movie-title">Viúva Negra</h2>
                    <button class="add-to-cart">Saiba mais</button>
                </div>
            </div>
            <div class="movie-card">
                <img src="/placeholder.svg?height=300&width=200" alt="Oppenheimer" class="movie-poster">
                <div class="movie-info">
                    <h2 class="movie-title">Oppenheimer</h2>
                    <button class="add-to-cart">Saiba mais</button>
                </div>
            </div>
            <div class="movie-card">
                <img src="/placeholder.svg?height=300&width=200" alt="Avatar" class="movie-poster">
                <div class="movie-info">
                    <h2 class="movie-title">Avatar</h2>
                    <button class="add-to-cart">Saiba mais</button>
                </div>
            </div>
            <div class="movie-card">
                <img src="/placeholder.svg?height=300&width=200" alt="Harry Potter" class="movie-poster">
                <div class="movie-info">
                    <h2 class="movie-title">Harry Potter</h2>
                    <button class="add-to-cart">Saiba mais</button>
                </div>
            </div>
            <div class="movie-card">
                <img src="/placeholder.svg?height=300&width=200" alt="Jurassic Park" class="movie-poster">
                <div class="movie-info">
                    <h2 class="movie-title">Jurassic Park</h2>
                    <p class="movie-price">$55</p>
                    <button class="add-to-cart">Saiba mais</button>
                </div>
            </div>
        </div>
        <a href="#" class="ver-todos">Ver todos</a>
    </div>
</body>

</html>