<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEPI Cine Club</title>
    <link rel="stylesheet" href="{% static '\css\home.css' %}">
    <link rel="icon" href="{% static '\img\fepilogo\favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <section class="showcase">
        <header>
            <h2 class="logo">FEPI Cine Club</h2>
            <div class="toggle">
                <a href="{% url 'home' %}">Inicio</a>
                <a href="{% url 'filmes' %}">Filmes</a>
                <a href="{% url 'forum' %}">Forum</a>
                <a href="{% url 'contato' %}">Contato</a>
            </div>
        </header>
        <!-- <div class="overlay"></div> -->
        <img src="{% static '/img/fepilogo/logo2.png' %}" alt="">
        <div class="text">
            <h1>Bem-vindo ao portal cinematografico, somos o FEPI Cine Club</h1>
            <p>Descubra os filmes mais populares e mergulhe em um mundo de histórias fascinantes. Junte-se a nós e
                compartilhe sua paixão pelo cinema!</p>
        </div>
    </section>
</body>

</html>