<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FEPI Cine Club</title>
    <link rel="stylesheet" href="{% static '\css\catalogofilmes.css' %}">
    <link rel="icon" href="{% static '\img\favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <div class="container">
        <header>
            <h2 class="logo">FEPI Cine Club</h2>
            <div class="toggle">
                <a href="{% url 'home' %}">Inicio</a>
                <a href="{% url 'filmes' %}">Filmes</a>
                <a href="{% url 'forum' %}">Forum</a>
                <a href="{% url 'contato' %}">Contato</a>
            </div>
        </header>
</body>

</html>